@font-face {
    font-family: 'Rubrik';
    src: url('rubrik1_l.woff2') format('woff2'),
         url('rubrik1_l.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Rubrik';
    src: url('rubrik1.woff2') format('woff2'),
         url('rubrik1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}