body {         
  background: #1B1F23;
  color: #FCFFFF;
  font-size: 16px;
}
html, button, input, select, textarea {
  font-family: 'Rubrik', serif;
  font-weight: lighter;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
.is-centered img {
  margin: 0 auto;
}
.is-clickable {
  cursor: pointer;
}
.is-hidden {
  display: none;
}
img.logo {
  width: 45px;
  margin-top: 15px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  img.logo {
      width: 90px;
  }
}
.box {
  margin: 10px 20px;
  /*padding: 0 15px;*/
}
.box h2 {
  margin-top: 0px;
  margin-bottom: 6px;
}
.box p {
  margin-top: 3px;
  margin-bottom: 12px;
}
.box svg.chevron {
  height: 36px;
  width: 36px;
}

.volume-container {
  width: 65%;
}
.volume {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #255C99;
  border-radius: 40000px;
  outline: none;
  cursor: pointer;
}
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #FCFFFF;
  border-radius: 100%;
  cursor: pointer;
}
.volume::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #FCFFFF;
  border-radius: 100%;
  cursor: pointer;
}
.input-box {
  background: #255C99;
  color: #FCFFFF;
  border-radius: 4px;
  padding: 12px 6px;
  font-size: 14px;
}
figure {
  margin: 0;
}
@media (min-width: 768px) {
  figure {
      margin: 40px 0;
  }
}