@font-face {
  font-family: 'Rubrik';
  src: url('rubrik1_l.woff2') format('woff2'),
       url('rubrik1_l.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Rubrik';
  src: url('rubrik1.woff2') format('woff2'),
       url('rubrik1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {         
  background: #1B1F23;
  color: #FCFFFF;
  font-size: 16px;
}
html, button, input, select, textarea {
  font-family: 'Rubrik', serif;
  font-weight: lighter;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
figure {
  margin: 0;
}
@media (min-width: 768px) {
  figure {
      margin: 40px 0;
  }
}



/* -------- GENERIC HELPER CLASSES -------- */
.block {
  display: block;
}
.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}

span.button-round {
  background-color: #255C99;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  border-radius: 1000px;
}
span.button-round.deselect {
  background: #6a6e73;
}
span.button-round svg {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 12px;
  stroke: #FCFFFF!important;
}
span.button-round.deselect svg {
  stroke: #bbbdbf!important;
}
span.button-round.sm svg {
  height: 14px;
  width: 14px;
  margin: 8px;
}



/* -------- EXTEND FLEXGRID -------- */
.row.disabled {
  color: #bbbdbf;
}
.row.disabled svg.icon {
  stroke: #bbbdbf;
}
.row.padded {
  padding: 7px 0;
}
.nogrow {
  flex-grow: 0;
}



/* -------- ICONS -------- */
svg.icon {
  width: 24px;
  height: 24px;
  stroke: #FAFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
}
svg.icon-sm {
  width: 24px;
  height: 24px;
}



/* -------- UNIQUE -------- */
img.logo {
  width: 45px;
  margin-top: 15px;
  margin-bottom: 8px;
}@media (min-width: 768px) {
  img.logo {
      width: 90px;
  }
}

div.menu>div.row {
  margin: 10px 20px;
}
div.menu h2 {
  margin-top: 0px;
  margin-bottom: 6px;
}
div.menu p {
  margin-top: 3px;
  margin-bottom: 12px;
}

.volume-container {
  width: 65%;
}
.volume {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #255C99;
  border-radius: 40000px;
  outline: none;
  cursor: pointer;
}
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #FCFFFF;
  border-radius: 100%;
  cursor: pointer;
}
.volume::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #FCFFFF;
  border-radius: 100%;
  cursor: pointer;
}

#progress-container p {
  margin: 0;
  padding: 4px 0;
}
#progress-container progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border: none;

  width: 100%;
  height: 10px;

  border-radius: 5px;
}
#progress-container progress[value]::-webkit-progress-bar {
  background-color: #5883B1;
  border-radius: 1000px;
  overflow: hidden;
}
#progress-container progress[value]::-moz-progress-bar {
  background-color: #5883B1;
  border-radius: 1000px;
  overflow: hidden;
}
#progress-container progress[value]::-webkit-progress-value {
    background-color: #FCFFFF;
}

#progress-container,
#success-container,
#error-container {
  background: #255C99;
  border-radius: 10px;
  margin-top: 8px;
  padding: 20px 20px;
}
#success-container {
  background: #00A896;
}
#error-container {
  background: #FE5F55
}
.input-box { /* INPUT SELECTOR (homepage) */
  background: #3B3F42;
  color: #FCFFFF;
  border-radius: 4px;
  padding: 12px 6px;
  font-size: 14px;
}
.input-box span {
  display: block;
  margin-top: 4px;
}
.input-box.selected {
  background-color: #255C99;
}



/* -------- MODAL CONTENT -------- */
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #707982;
  background-color: #70798277;
}
.modal-content {
  background-color: #1B1F23;
  border: none;
  border-radius: 10px;
  width: 80%;
  margin: 15% auto;
  overflow: hidden;
}
.modal-content.small {
  width: 300px;
}
@media (min-width: 768px) {
  .modal-content {
    width: 300px;
  }
}

.modal-body {
  padding: 20px;
}
.modal-footer {
  display: flex;
}
.modal-footer button {
  border: 0;
  background: #70798233;
  color: inherit;
  padding: 10px 0;
  font-size: inherit;
}
.modal-footer.two button {
  width: 50%;
}
.modal-footer button.save {
  background: #255C99;
}
.modal-footer button.cancel {
  text-decoration: underline;
}
.modal-content h2 {
  padding: 0;
  margin: 0 0 8px 0;
}


/* -------- FORM CONTENT -------- */
fieldset {
  border: none;
  padding: 12px 0px;
  margin: 0;
}
fieldset p {
  padding: 0;
  margin: 0 0 5px 0;
}
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #6a6e73;
}
.check-container:hover input ~ .checkmark {
  background-color: #6a6e73;
}
.check-container input:checked ~ .checkmark {
  background-color: #255C99;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-container input:checked ~ .checkmark:after {
  display: block;
}
.check-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #FCFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.addon {
  display: flex;
}
.addon input {
  width: 20px;
  border: 0;
  margin: 0;
  height: 28px;
}
.addon button {
  background: #255C99;
  border: 0;
  color: #FCFFFF;
  line-height: 1;
  padding: 3px;
}
.addon button svg {
  height: 18px;
  width: 18px;
}
.addon button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.addon button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
input[type="text"] {
  background: #6a6e73;
  color: #FCFFFF;
  border: none;
  outline: none;
  padding: 5px 5px;
  border-radius: 4px;
  font-size: inherit;
}



/* -------- ANIMATIONS -------- */
.spinner {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}